{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Vinyle{% endblock %}

{% block body %}
    {#    Carousel    #}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/slide1-1.jpg') }}" class="d-block w-100" alt="Collection Vinyle 1">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/slide2.jpg') }}" class="d-block w-100" alt="Collection Vinyle 2">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/slide3.jpg') }}" class="d-block w-100" alt="Collection Vinyle 3">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/slide4.jpg') }}" class="d-block w-100" alt="Collection Vinyle 4">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/slide7.jpg') }}" class="d-block w-100" alt="Collection Vinyle 5">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {#    End Carousel    #}

    {#    Section    #}
    <div class="container-fluid">
        <div class="row featurette bg-primaryColor p-5">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
                </h2>
                <p class="lead">Lorem ipsum dolor sit amet. Sed cumque vitae est architecto vero et fugiat tenetur vel
                    mollitia iste et possimus voluptatem est laborum At quia adipisci. Cum autem consectetur aut animi
                    harum est iusto ipsum quo nobis nostrum id sunt consequatur a aspernatur molestiae est dolore
                    beatae.

                    Et soluta laudantium ad minus modi et quia beatae. Quo nihil magni et corrupti quisquam sit quod
                    deserunt?

                    Aut quis aperiam cum voluptatibus maxime ut laborum facilis sed numquam error aut odio laboriosam
                    sit eligendi dolorem. Sed autem aspernatur in velit ullam eos cupiditate eligendi ea ullam
                    aspernatur aut quis nesciunt?</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('images/img1.jpg') }}" alt="Organisation Vinyle">
            </div>
        </div>
    </div>
    <section class="module parallax parallax-1" data-type="background" data-speed="10" id="section1">
        <div class="parallax-container">
            <h1>Motion</h1>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row featurette  bg-thirdColor p-5 text-white">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span>
                    </h2>
                    <p class="lead">Lorem ipsum dolor sit amet. Sed cumque vitae est architecto vero et fugiat tenetur
                        vel mollitia iste et possimus voluptatem est laborum At quia adipisci. Cum autem consectetur aut
                        animi harum est iusto ipsum quo nobis nostrum id sunt consequatur a aspernatur molestiae est
                        dolore beatae.

                        Et soluta laudantium ad minus modi et quia beatae. Quo nihil magni et corrupti quisquam sit quod
                        deserunt?

                        Aut quis aperiam cum voluptatibus maxime ut laborum facilis sed numquam error aut odio
                        laboriosam sit eligendi dolorem. Sed autem aspernatur in velit ullam eos cupiditate eligendi ea
                        ullam aspernatur aut quis nesciunt?</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{{ asset('images/img3.jpg') }}" alt="Organisation Vinyle">
                </div>
            </div>
        </div>
    </section>

    <section class="module parallax parallax-2" data-type="background" data-speed="10" id="section2">
        <div class="parallax-container">
            <h1>Shape</h1>
        </div>
    </section>

    <section class="text-white">
        <div class="container-fluid">
            <div class="row featurette  bg-fourthColor p-5">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                                class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet. Sed cumque vitae est architecto vero et fugiat tenetur
                        vel mollitia iste et possimus voluptatem est laborum At quia adipisci. Cum autem consectetur aut
                        animi harum est iusto ipsum quo nobis nostrum id sunt consequatur a aspernatur molestiae est
                        dolore beatae.

                        Et soluta laudantium ad minus modi et quia beatae. Quo nihil magni et corrupti quisquam sit quod
                        deserunt?

                        Aut quis aperiam cum voluptatibus maxime ut laborum facilis sed numquam error aut odio
                        laboriosam sit eligendi dolorem. Sed autem aspernatur in velit ullam eos cupiditate eligendi ea
                        ullam aspernatur aut quis nesciunt?</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('images/img4.jpg') }}" alt="Organisation Vinyle">
                </div>
            </div>
        </div>
    </section>

    <section class="module parallax parallax-3" data-type="background" data-speed="10" id="section3">
        <div class="parallax-container">
            <h1>Color</h1>
        </div>
    </section>
    {#        End Section    #}
{% endblock %}
