{% extends 'base_dashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    <div class="row justify-content-center pb-4">
        <div class="col-8">
            <div class="card">
                <div class="text-center bg-thirdColor p-3 text-white rounded-top">
                    Ajouter un artiste
                </div>
                <div class="card-body">
                    {{ form_start(formAddArtiste) }}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ form_row(formAddArtiste.firstname) }}</li>
                        <li class="list-group-item">{{ form_row(formAddArtiste.lastname) }}</li>
                        <li class="list-group-item">{{ form_row(formAddArtiste.birthday) }}</li>
                        <li class="list-group-item">{{ form_row(formAddArtiste.biography) }}</li>
                        <li class="list-group-item">{{ form_row(formAddArtiste.picture) }}</li>
                    </ul>
                    <div class="text-center">{{ form_row(formAddArtiste.enregistrer) }}</div>
                    {{ form_end(formAddArtiste) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}