{% if app.user %}
    <div class="collapse fixed-top" id="navbarToggleExternalContent">
        <div class="bg-primaryColor p-4 mt-5">
            <ul>
                <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">Changer mon mot de passe</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-primaryColor fixed-top d-flex justify-content-between align-content-center">
        <div class="px-5">
            <a class="navbar-brand" href="/"><img src="{{ asset('images/logo2.png') }}" width="30%" alt="Vinyle"></a>
        </div>
        <div class="px-5 d-flex align-content-center">
            <div class="dropdown">
                <a href="#" class="link-dark text-decoration-none nav-link dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                    <span class="mr-2 d-none d-lg-inline small text-white">{{ app.user.firstname|capitalize }} <i class="bi bi-person-circle"></i>{#<img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">#}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="{{ path('app_dashboard') }}"><i class="bi bi-speedometer"></i> Dashboard</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Mon profil</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Paramètre</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-door-closed"></i> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-dark bg-primaryColor fixed-top d-flex justify-content-between align-content-center">
        <div class="px-5">
            <a class="navbar-brand" href="/"><img src="{{ asset('images/logo2.png') }}" width="40%" alt="Logo Vinyle"></a>
        </div>
        <div class="px-5 d-flex align-content-center">
            <div class="px-2">
                <a href="{{ path('app_login') }}" class="btn btn-outline-light">Login</a>
            </div>
            <div class="px-2">
                <a href="{{ path('app_register') }}" class="btn btn-outline-light">Inscription</a>
            </div>
        </div>
    </nav>
{% endif %}