{% if app.user %}
    <div class="collapse fixed-top" id="navbarToggleExternalContent">
        <div class="bg-primaryColor p-4 mt-5">
            <ul>
                <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                <li><a href="#">Mon compte</a></li>
                <li><a href="#">Changer mon mot de passe</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-primaryColor fixed-top d-flex justify-content-between align-content-center">
        <div class="px-5">
            <a class="navbar-brand" href="/"><img src="{{ asset('images/logo2.png') }}" width="30%" alt="Vinyle"></a>
        </div>
        <div class="px-5 d-flex align-content-center">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong class="text-white">Bienvenue {{ app.user.firstname }} </strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                    <li><a class="dropdown-item" href="{{ path('app_dashboard') }}">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Mon compte</a></li>
                    <li><a class="dropdown-item" href="#">Changer mon mot de passe</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-dark bg-primaryColor fixed-top d-flex justify-content-between align-content-center">
        <div class="px-5">
            <a class="navbar-brand" href="/"><img src="{{ asset('images/logo2.png') }}" width="40%" alt="Logo Vinyle"></a>
        </div>
        <div class="px-5 d-flex align-content-center">
            <div class="px-2">
                <a href="{{ path('app_login') }}" class="btn btn-outline-light">Login</a>
            </div>
            <div class="px-2">
                <a href="{{ path('app_register') }}" class="btn btn-outline-light">Inscription</a>
            </div>
        </div>
    </nav>
{% endif %}