{% extends 'base_dashboard.html.twig' %}

{% block title %}Bienvenue {{ app.user.firstname|capitalize}} sur votre DashboardController{% endblock %}

{% block content %}
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total artiste
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ artists|length }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total vinyle
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vinyls|length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col">
            <div id="scroller">
                <div class="navItunesCarousel">
                    <a class="prev">&laquo;</a>
                    <a class="next">&raquo;</a>
                </div>
                {% for vinyl in rands %}
                    <a href="{{ path('app_album_show', {'id': vinyl.id}) }}" class="item"><img
                                src="{{ asset('uploads/covers/'~vinyl.coverFront) }}"
                                alt="{{ vinyl.titre|capitalize }}"
                                title="{{ vinyl.titre|capitalize }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 100px">
        <!-- Area Chart -->
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="p-3 d-flex flex-row align-items-center justify-content-between bg-primaryColor rounded-top">
                    <h6 class="m-0 font-weight-bold text-primary">Les 5 derniers vinyles ajoutés</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for vinyl in lastFiveRegistered %}
                            {% if loop.index0 is divisible by(2) %}
                                <li class="d-flex justify-content-between align-items-center list-group-item list-group-item-action">
                                    <div>
                                        <a href="{{ path('app_album_show', {'id':vinyl.id}) }}"><img
                                                    src="{{ asset('uploads/covers/'~vinyl.coverFront) }}"
                                                    alt="{{ vinyl.titre|capitalize }}"
                                                    title="{{ vinyl.titre|capitalize }}"
                                                    width="10%"></a> <a
                                                href="{{ path('app_album_show', {'id':vinyl.id}) }}"
                                                class="link-secondary">{{ vinyl.titre|capitalize }}
                                            - {{ vinyl.artist.firstname|capitalize }} {{ vinyl.artist.lastname|capitalize }}
                                            - {{ vinyl.date|date('Y') }}</a>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        {# <p class="mx-1"><a href="{{ path('app_album_show', {'id': vinyl.id}) }}"
                                                           class="btn bg-primary text-white"><i
                                                        class="bi bi-eye"></i></a></p> #}
                                        <p class="mx-1"><a href="{{ path('app_album_edit', {'id': vinyl.id}) }}"
                                                           class="btn bg-warning text-white"><i
                                                        class="bi bi-pen"></i></a></p>
                                        <p class="mx-1"><a href="#" class="btn bg-danger text-white"><i
                                                        class="bi bi-trash"></i></a></p>
                                    </div>
                                </li>
                            {% else %}
                                <li class="d-flex justify-content-between align-items-center list-group-item list-group-item-action list-group-item-secondary">
                                    <div>
                                        <a href="{{ path('app_album_show', {'id':vinyl.id}) }}"><img
                                                    src="{{ asset('uploads/covers/'~vinyl.coverFront) }}"
                                                    alt="{{ vinyl.titre|capitalize }}"
                                                    title="{{ vinyl.titre|capitalize }}"
                                                    width="10%"></a> <a
                                                href="{{ path('app_album_show', {'id':vinyl.id}) }}"
                                                class="link-secondary">{{ vinyl.titre|capitalize }}
                                            - {{ vinyl.artist.firstname|capitalize }} {{ vinyl.artist.lastname|capitalize }}
                                            - {{ vinyl.date|date('Y') }}</a>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        {# <p class="mx-1"><a href="{{ path('app_album_show', {'id': vinyl.id}) }}"
                                                           class="btn bg-primary text-white"><i
                                                        class="bi bi-eye"></i></a></p> #}
                                        <p class="mx-1"><a href="{{ path('app_album_edit', {'id': vinyl.id}) }}"
                                                           class="btn bg-warning text-white"><i
                                                        class="bi bi-pen"></i></a></p>
                                        <p class="mx-1"><a href="#" class="btn bg-danger text-white"><i
                                                        class="bi bi-trash"></i></a></p>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
